.nav-link {
   font-weight: lighter;
   font-size: 17px !important;
   color: var(--dark) !important;
}

.nav-link {
   padding: 0 !important;
   border: solid 2px #fff !important;
}
.nav-link:hover {
   transition: all 0.3s ease-out !important;
   border-bottom: solid 2px var(--pink) !important;
}

@media (max-width: 992px) {
   .nav__collapse {
      width: 100% !important;
   }
}
